html,
body{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 800px;
    /* border: 1px solid blue; */
}

*{
    box-sizing: border-box;
}

.container>div{
    display: flex;
    background-color: lightgrey;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding: 12px;
}

.dice-1{
   justify-content: center;
   align-items: center;
}

.container>div i{
    background-color: black;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: block;
}

.dice-2{
    align-content: space-between;
    justify-content: space-between;
}

.dice-4{
    display: flex;
    justify-content: space-between;
}

.dice-4-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dice-5-2{
    display: flex;
    align-items: center;
}

.rotate{
    transform: rotate(90deg);
}


.dice-3-2{
    align-self: center;
    margin: 0;
}

.dice-2-2{
    align-self: flex-end;
}
